-- Phase 2 Essential Tables for UrjaBandhu

-- 1. Energy Alerts Table
CREATE TABLE IF NOT EXISTS energy_alerts (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  alert_type TEXT NOT NULL CHECK (alert_type IN ('high_consumption', 'unusual_pattern', 'device_offline', 'cost_threshold')),
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  threshold_value DECIMAL(10, 2),
  device_id UUID REFERENCES devices(id) ON DELETE SET NULL,
  is_read BOOLEAN DEFAULT FALSE,
  priority TEXT DEFAULT 'medium' CHECK (priority IN ('high', 'medium', 'low')),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE energy_alerts ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users can manage own energy alerts" ON energy_alerts FOR ALL USING (auth.uid() = user_id);
CREATE INDEX IF NOT EXISTS energy_alerts_user_id_idx ON energy_alerts(user_id);

-- 2. Energy Goals Table
CREATE TABLE IF NOT EXISTS energy_goals (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  goal_type TEXT NOT NULL CHECK (goal_type IN ('daily', 'weekly', 'monthly', 'yearly')),
  target_consumption DECIMAL(10, 2) NOT NULL,
  target_cost DECIMAL(10, 2) NOT NULL,
  start_date DATE NOT NULL,
  end_date DATE NOT NULL,
  current_consumption DECIMAL(10, 2) DEFAULT 0,
  current_cost DECIMAL(10, 2) DEFAULT 0,
  is_active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE energy_goals ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users can manage own energy goals" ON energy_goals FOR ALL USING (auth.uid() = user_id);

-- 3. Device Categories Table
CREATE TABLE IF NOT EXISTS device_categories (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  name TEXT NOT NULL UNIQUE,
  description TEXT,
  icon TEXT,
  average_power_min INTEGER,
  average_power_max INTEGER,
  efficiency_tips JSONB DEFAULT '[]',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert device categories

ALTER TABLE device_categories ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Device categories are publicly readable" ON device_categories FOR SELECT USING (true);
